{
    "presets": ["@babel/preset-env",
        "@babel/preset-react"],
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "page": "./page",
          "components": "./components",
          "underscore": "lodash"
        }
      }]
    ]
  }