:root {
  $primary-blue: #3b8beb;
  $primary-red: #b23850;
  $primary-tone: #e7e3d4;
  $light-blue: #c4dbf6;
}


.App {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

